<div class="modal fade" id="modal_admin_create_content_type">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Content Type</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>New Content Type</label>
                        <input type="text" class="form-control" name="create_content_type" value="" maxlength="32">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>