{% extends "formelement-selection.twig" %}

{% block input %}

    {{ parent() }}
    {% if type=='dropdown' and editUrl is defined %}
        <a href='{{ editUrl }}' data-url="{{ editUrlPattern }}" class="btn btn-default{% if editUrl=='#' %} disabled{% endif %}" role="button" target="_blank" id="{{ id }}_edit_button"><span
                    class="glyphicon glyphicon-new-window"></span> Edit</a>

    {% endif %}

{% endblock %}