li.dropdown-header a {
    padding-left: 0px;
    color: #999;
}

#mainmenu {
    max-height: 450px;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr;
}

@media (min-height: 700px) {
    #mainmenu {
        max-height: 600px;
        overflow-y: auto;
    }
}

@media (min-height: 900px) {
    #mainmenu {
        max-height: 750px;
        overflow-y: auto;
    }
}

@media (min-height: 1050px) {
    #mainmenu {
        max-height: 925px;
        overflow-y: auto;
    }
}


.menu-buttongroup .btn
{
    min-width: 100px;
    text-align: left;
}

