#content_view_glossary .record-id {
    width: 45px;
}

#content_view_glossary .tab-content {
    min-height: 400px;
}

#content_view_glossary #tabs {
    width: 100%;

    overflow-x: auto;

}

#content_view_glossary ul {

    display: inline-flex;
    white-space: nowrap;

}
