.tab-content div {
    background-color: #fff;
}

.tab-formelements {
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}