<div class="modal fade" id="modal_files_file_edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="modal_files_form_file_edit" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit File</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>File Name</label>
                        <input type="hidden" class="form-control" name="file_original" id="modal_files_file_original_id" value="">
                        <input type="text" class="form-control" name="file_rename" id="modal_files_file_rename_id" value="">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="modal_files_button_rename_file">Rename</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>