<div class="modal fade" id="modal_files_upload_file">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="modal_files_form_upload_file" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>New File</label>
                    </div>
                    <div class="form-group">
                        <input type="file" name="upload_file">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="modal_files_button_upload_file">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>