<div class="modal fade" id="modal_files_delete_folder">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="modal_files_form_delete_folder" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Folder</h4>
                </div>
                <div class="modal-body">

                    <p>Really delete folder <strong>{{ delete_folder_path }}</strong> and all it's content and subfolders?</p>

                        <input type="hidden" class="form-control" name="delete_folder"
                               value="1">



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="modal_files_button_create_folder">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>