.file-item {
    width: 290px;

    margin-right: 10px;
    height: 140px;

}


.file-item .media{
    padding:5px;
    padding-bottom: 0px;

}
.file-item .file-actions {
    padding-right: 10px;
    padding-top:5px;
}