<div class="modal fade" id="modal_files_delete_file">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="modal_files_form_delete_folder" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete File</h4>
                </div>
                <div class="modal-body">

                    <p>Delete file <strong><span id="modal_files_file_delete_title"></span></strong>?</p>

                    <input type="hidden" class="form-control" name="delete_file"  id="modal_files_file_delete_id"
                           value="">



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="modal_files_button_create_folder">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

