{% if searchTerm %}
<div class="well">
    <div class="col-xs-5">
        <form role="search" method="get" action="{{ links.search }}"
              id="form_searchbox">
            <fieldset>
                <div class="input-group">
                    <input type="text" name="q" class="form-control" value="{{ searchTerm }}" placeholder="Enter search term or record id ...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
    <a href="{{ links.closeSearchBox }}">
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </a>
    <br/>
    <br/>
</div>
{% endif %}