{% extends "layout-default.twig" %}

{% block content %}


    <div class="well" id="login">
        <h3>Welcome! Please Login.</h3>

        <form role="form" method="post" name="form_login" action="" id="form_login">
            <fieldset>
                <div class="row">
                    <div class="col-xs-3">
                        <label>Username</label>

                    </div>
                    <div class="col-xs-3">
                        <input type="text" name="u">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label>Password</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="password" name="p">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label></label>
                    </div>
                    <div class="col-xs-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </fieldset>

        </form>
    </div>


    <style type="text/css">
        #login {

            width: 400px;
            height: 200px;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;

        }

        #login h3 {
            margin: 0px;
            margin-bottom: 20px;
        }

        #login .row {
            padding-bottom: 10px;
        }

    </style>


{% endblock %}

{% block navbar_bottom %}
{% endblock %}
