<table class="table table-striped">
    <thead>
    <tr>
        {% for column in table.header %}
            <th class="{{ column.class }}">{{ column.title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table.body %}
        <tr>
            {% for cell in row %}
                <td>{{ cell | raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
