<div class="pull-left gravatar">
    <img src="https://www.gravatar.com/avatar/{{ gravatar }}?s=40" height="40" width="40"/>
</div>
<div class="userinfo">{{ username }}<br/>
    <small>{{ date }}</small>
</div>