{% extends "listing-contentview-default.twig" %}

{% block listing_content %}
    <div class="row">
        {% if table %}
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for column in table.header %}
                        <th class="col-listing-id">{{ column.title }}</th>
                    {% endfor %}
                    <th class="col-listing-buttons"></th>
                </tr>
                </thead>
                <tbody>
                {% for row in table.body %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell | raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ pager | raw }}
        {% endif %}
    </div>
{% endblock %}

