<div class="sequence-item" id="form_sequence_item_{{ item.sequence }}"" data-item="{{ item.sequence }}"">
    <h3 class="accordionTitle">New {{ item.title }}</h3>

    {% include "editsequence-item.twig" %}
</div>