{% extends "layout-default.twig" %}

{% block content %}

    <div class="row">
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-wrench"></span> Config not found.</div>
    </div>

{% endblock %}