<div class="row formelement-{{ definition.FormElementType }}">
    <div class="col-xs-11">
        {% if display =='' %}
            &nbsp;
        {% else %}
            {{ display | raw }}
        {% endif %}

    </div>
</div>
