.CodeMirror {
    border: solid #ccc 1px;
    border-radius: 4px;
    border-left: 0px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

.CodeMirror-vscrollbar {
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

div.form-group.has-error div.CodeMirror {
    border-color: #a94442;
}
